h1 Dear #{userDisplayName}
h2 #{userEmail}
p Your access level to '#{projectName}' has been changed to #{accessLevel}
p To log in to edit this project please go to 
    a(href=siteUrl target="_blank") Content Developer
    |  and log in using your Google account.
p 
    em Please note that if this is not the email address you use to access your Google account, then you will either need to create a new account or ask the administrator of the project to re-invite you using the appropriate email address.