html
    head
        title Content Developer
            if pageTitle != undefined
                |  | #{pageTitle}
        link(rel="stylesheet" type="text/css" href="/css/stylesheet.css")
    body
        header
            div.row
                div.col-8-12
                    if projectName != undefined
                        h1(id="pageTitle") #{projectName}
                    else if user != undefined
                        h1 Content Developer Admin Panel
                    else
                        h1 Content Developer
                if user != undefined
                    div.col-4-12.right
                        span Welcome back 
                            if user.displayName
                            | #{user.displayName}
                
                        if user.google_profile_image_url
                            img(src=user.google_profile_image_url title=user.displayName class="profileImage")